<!doctype html>

<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="img/M_fav.ico">
	<link rel="stylesheet" href="css/960_12_col.css"/>
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/text.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<script src="js/jquery.js"></script>
    <script src="js/scripts.js"></script>
	<title>Mentessi</title>
</head>

<body>

		<header class="container_12">
			<h1>mentessi</h1><p>(my life out of 10)</p>
		</header>
		
		<div class="clear"></div>
		<div id="wrapper" class="container_12">
			<div id="definition">

				<h2>1.</h2><p> I rate the things in my life out of 10 on <a href="http://www.twitter.com/mylifeoutof10/" target="_blank"> twitter</a> </p> <h2>2.</h2> <p>Check out how my life has been so far (on average) by pressing the button below... </p>
			</div><!-- definition-->

			<div class="clear"></div>

			<div id="central">
				<div class="grid_4 push_1 speak alpha">
						<div class="speak_text">
							<!-- <img src="img/pointer.png" class="pointer" alt="pointy" /> -->
						</div>
				</div>

				<div class="grid_4">
			      <div id="button">
			        <form id="mylife">
			        <input id="getter" type="submit" value="Push" class="button"/><br/>
			       </form>
			      </div><!--button-->
			    </div>

				<div class="grid_4 hear omega">
						<div class="hear_text">
							<p id="results">??<p>
								<p></p>
								<p>10</p>
						</div>
				</div>

			</div> <!--central-->
		</div>

		<div class="clear"></div>

<footer>
		<div class="mid_foot container_12">
			<div class="grid_5">
				<h3>Copyright Whyfronts LTD 2012</h3>
			</div>

			<div class="grid_1 push_6">
				<a href="mailto:mentessi@gmail.com"><img src="img/mail.png" alt="email me" title="email me"/></a><br/>
			</div>

		</div><!-- mid foot-->	

</footer><!-- other shit-->

</body>

</html>
